doctype html

html
  head
    meta(charset='UTF-8')

    title FarbVelo — Random Color Cycler
    meta(name='title', content='FarbVelo — Random Color Cycler')
    meta(name='description', content='Explorative color palette editor.')

    //  Open Graph / Facebook
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://FarbVelo.elastiq.ch/')
    meta(property='og:title', content='FarbVelo — Random Color Cycler')
    meta(property='og:description', content='Explorative color palette editor.')
    meta(property='og:image', content='https://FarbVelo.elastiq.ch/FarbVelo.png')
    //  Twitter
    meta(property='twitter:card', content='summary_large_image')
    meta(property='twitter:url', content='https://FarbVelo.elastiq.ch/')
    meta(property='twitter:title', content='FarbVelo — Random Color Cycler')
    meta(property='twitter:description', content='Explorative color palette editor.')
    meta(property='twitter:image', content='https://FarbVelo.elastiq.ch/FarbVelo.png')

    link(rel='stylesheet', media='all',  href='main.scss')

  body
    #app.wrap(:class="{'wrap__hasGradients': hasGradients}")
      .bg
      .colors
        button.refresh(v-on:click="newColors").
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23" version="1.1" x="0px" y="0px"><path d="M 12.109896,2.9653518 C 10.830826,2.9134678 9.5257058,3.132602 8.2817758,3.648946 c -3.9806,1.652399 -6.2540499,5.897846 -5.4179699,10.123046 0.8360799,4.2253 4.5540699,7.274132 8.8613301,7.269532 a 0.9995584,1.0006417 14.999899 1 0 0,-2 c -3.3667302,0 -6.2475202,-2.360557 -6.9004002,-5.660157 -0.65294,-3.2997 1.11025,-6.592765 4.22266,-7.884765 3.1124002,-1.292 6.6825102,-0.213669 8.5488302,2.582031 1.85391,2.77709 1.49946,6.460477 -0.8418,8.845703 l 0.0781,-2.365234 a 1.0001,1.0001 0 0 0 -0.98242,-1.046875 1.0001,1.0001 0 0 0 -1.01758,0.982422 l -0.15235,4.59375 a 1.0001,1.0001 0 0 0 1.03321,1.033203 l 4.5957,-0.152344 a 1.0001,1.0001 0 1 0 -0.0664,-1.998047 l -1.79492,0.06055 c 2.74739,-3.056097 3.10892,-7.618693 0.80859,-11.064453 -1.64326,-2.461525 -4.33252,-3.887808 -7.14648,-4.0019532 z"/></svg>
        button.settings(v-on:click="toggleSettings").
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.6 85.4">
            <g>
              <path d="M73.9,39H66.3a13.29,13.29,0,0,0-12.7-9.7A13.63,13.63,0,0,0,40.8,39H3.7a3.7,3.7,0,0,0,0,7.4H40.8a13.16,13.16,0,0,0,25.4,0h7.6a3.69,3.69,0,0,0,3.7-3.7A3.55,3.55,0,0,0,73.9,39ZM53.6,48.7a6,6,0,0,1-6-6,6,6,0,0,1,12,0A6,6,0,0,1,53.6,48.7Z"/>
              <path d="M3.7,17.1h7.9a13.16,13.16,0,0,0,25.4,0H73.9a3.69,3.69,0,0,0,3.7-3.7,3.63,3.63,0,0,0-3.7-3.7H37a13.16,13.16,0,0,0-25.4,0H3.7A3.69,3.69,0,0,0,0,13.4,3.63,3.63,0,0,0,3.7,17.1ZM24.3,7.4a6,6,0,0,1,6,6,5.89,5.89,0,0,1-6,6,6,6,0,0,1-6-6A6.15,6.15,0,0,1,24.3,7.4Z"/>
              <path d="M73.9,68.3H37a13.16,13.16,0,0,0-25.4,0H3.7A3.69,3.69,0,0,0,0,72a3.63,3.63,0,0,0,3.7,3.7h7.9a13.16,13.16,0,0,0,25.4,0H73.9A3.69,3.69,0,0,0,77.6,72,3.63,3.63,0,0,0,73.9,68.3ZM24.3,78a6,6,0,0,1-6-6,6,6,0,0,1,12,0A6,6,0,0,1,24.3,78Z"/>
            </g>
          </svg>
        color(v-for="(c, i) in colors", v-bind:name="names[i]" v-bind:color="c")
        .pannel(v-bind:class="{'pannel__visible': settingsVisible}")
          label.pannel__setting 
            h4.pannel__settingtitle Colors
            input(type="range", v-model="amount", min="3", max="10")
            input(type="number", v-model="amount", min="3", max="10")

          label.pannel__setting 
            h4.pannel__settingtitle Color Stops
            input(type="range", v-model="colorsInGradient", min="2", :max="amount")
            input(type="number", v-model="colorsInGradient", min="2", :max="amount")

          label.pannel__setting 
            h4.pannel__settingtitle Mix Padding
            input(type="range", v-model="padding", min="0", max="1", step=".001")
            input(type="number", v-model="padding", min="0", max="1", step=".001")

          label.pannel__setting 
            h4.pannel__settingtitle Randomize Order
            input(type="checkbox", v-model="randomOrder")

          label.pannel__setting 
            h4.pannel__settingtitle Show Gradients
            input(type="checkbox", v-model="hasGradients")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js")
    script(src="main.js")